    :root{
        --bright-orange: hsl(31, 77%, 52%);
        --dark-cyan: hsl(184, 100%, 22%);
        --very-dark-cyan: hsl(179, 100%, 13%);
        --paragraph-white: hsla(0, 0%, 100%, 0.75);
        --neutral-white: hsl(0, 0%, 95%);
        --white: hsl(0, 0%, 100%);
        --paddingX: 3rem;
        --paddingY: 2.65rem;
    }
    *, *::before, *::after{  
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    html{
        width: 100%;
        height: 100%;  
        font-size: 15px;
    }
    body{      
        margin: 0;
        padding: 0;
        background-color: var(--neutral-white);
        font-family: 'Lexend Deca', helvetica, sans-serif;
    }
    h1{
        color: var(--white);
        font-family: 'Big Shoulders Display', arial, sans-serif;
        font-size: 2.5em;
        text-transform: uppercase;
    }
    p{
        color: var(--paragraph-white);
        line-height: 1.75;
    }
    .container{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card{
        border-radius: 10px;
        display: flex;
        margin: 1.5rem;
        overflow: hidden;
        width: 57.625rem;
    }
    .card > *{
        padding: var(--paddingX) var(--paddingY);
        width: 100%
    }
    .card a{
        background-color: var(--white);
        border: 2.5px solid var(--white);
        border-radius: 25px;
        display: inline-block;
        margin-top: 3rem;
        padding: 0.75rem 1.75rem;
        text-decoration: none;
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }
    .card a:hover{
        color: var(--white);
    }
    .sedan{
        background-color: var(--bright-orange);
    }
    .sedan a{
        color: var(--bright-orange);
    }
    .sedan a:hover{
        background-color: var(--bright-orange);
    }
    .suv{
        background-color: var(--dark-cyan);
    }
    .suv a{
        color: var(--dark-cyan);
    }
    .suv a:hover{
        background-color: var(--dark-cyan);
    }
    .luxury{
        background-color: var(--very-dark-cyan);
    }
    .luxury a{
        color: var(--very-dark-cyan);
    }
    .luxury a:hover{
        background-color: var(--very-dark-cyan);
    }
    .attribution{
        font-size: 11px;
        position: absolute;
        bottom: 3%;
        text-align: center;
        width: 100%;
    }
    .attribution a{
        color: hsl(228, 45%, 44%); 
        border: none;
        background-color: none;
        padding: 0;
        margin: 0;
    }
    @media only screen and (max-width:768px) {
        .container{
            height: auto;
        }
        .card{
            flex-direction: column;
        }
        .card > *{
            --paddingX: 3.5rem;
            --paddingY: 3.5rem;
            padding: var(--paddingX) var(--paddingY);
        }
        .attribution{
            display: none;
        }
    }